
{% if  banners[0].name == 'HOME_TOP' %}
    {% set class = 'home__one' %}
{% elseif  banners[0].name == 'HOME_CENTER' %}
    {% set class = 'home__two' %}
{% elseif  banners[0].name == 'HOME_BOTTOM' %}
    {% set class = 'home__three' %}
{% else %}
    {% set class = '' %}
{% endif %}

<section class="{{ class }}">
    {% for banner in banners %}
        {% if  banner.name in ['HOME_TOP','HOME_BOTTOM']%}
            <a href="{{ banner.link }}">
                <img class="home__img" src="{{ banner.image }}" alt="{{ banner.title }}">
            </a>
            <div class="home__title">{{ banner.title }}</div>
            <p class="home__desc">{{ banner.description }}</p>
            <div class="home__action">
                <a class="btn btn__primary" href="{{ banner.link }}">КУПИТЬ</a>
                <a class="btn btn__default" href="{{ banner.link }}">ПОДРОБНЕЕ</a>
            </div>
        {% endif %}

        {% if banner.name == 'HOME_CENTER' %}
            <div class="home__poster">
                <a href="{{ banner.link }}">
                    <img class="home__img" src="{{ banner.image }}" alt="{{ banner.title }}">
                </a>

                <div class="home__title">{{ banner.title }}</div>

                <p class="home__desc">{{ banner.description }}</p>

                <div class="home__action">
                    <a class="btn btn__primary-outline" href="{{ banner.link }}">КУПИТЬ</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>