<section class="product__bestsellers">

  <div class="bestsellers__block-title">{{ heading_title }}</div>
  <div class="bestsellers">
    <div class="bestsellers__wrap bestsellers__wrap--prod">
      {% for product in products %}

        <a class="bestsellers__item" href="{{ product.href }}">
          <img class="bestsellers__img" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
          <div class="bestsellers__title">{{ product.name }}</div>
          <div class="bestsellers__desc">{{ product.description }}</div>
          <div class="bestsellers__price">{{ product.price }}</div>
        </a>

      {% endfor %}
    </div>
  </div>
</section>