{#
 * Brainy Filter Pro 5.1.3 OC3, September 18, 2017 / brainyfilter.com 
 * Copyright 2015-2017 Giant Leap Lab / www.giantleaplab.com 
 * License: Commercial. Reselling of this software or its derivatives is not allowed. You may use this software for one website ONLY including all its subdomains if the top level domain belongs to you and all subdomains are parts of the same OpenCart store. 
 * Support: http://support.giantleaplab.com 
#}
{% set isHorizontal = layout_position is same as ('content_top') or layout_position is same as ('content_bottom') %}
{% set isResponsive = settings['style']['responsive']['enabled'] ? true : false %}
{% set responsivePos = settings['style']['responsive']['position'] is same as ('right') ? 'bf-right' : 'bf-left' %}


{% if filters|length %}

            <ul class="filter">
                <form class="bf-form"
                    data-height-limit="{{ limit_height_opts }}"
                    data-visible-items="{{ slidingOpts }}"
                    data-hide-items="{{ slidingMin }}"
                    data-submit-type="{{ settings['submission']['submit_type'] }}"
                    data-submit-delay="{{ settings['submission']['submit_delay_time']|number_format }}"
                    data-submit-hide-panel ="{{ settings['submission']['hide_panel']|number_format }}"
                    data-resp-max-width="{{ settings['style']['responsive']['max_width']|number_format }}"
                    data-resp-collapse="{{ settings['style']['responsive']['collapsed']|number_format }}"
                    data-resp-max-scr-width ="{{ settings['style']['responsive']['max_screen_width']|number_format }}"
                    method="get" action="index.php">

                {% if currentRoute is same as ('product/search') %}
                    <input type="hidden" name="route" value="product/search" />
                {% else %}
                    <input type="hidden" name="route" value="product/category" />
                {% endif %}
                {% if currentPath %}
                    <input type="hidden" name="path_f" value="{{ currentPath }}" />
                {% endif %}
                {% if manufacturerId %}
                    <input type="hidden" name="manufacturer_id" value="{{ manufacturerId }}" />
                {% endif %}

                {% for i, section in filters %}

                        {# PRICE FILTER#}
                    {% if section['type'] == 'price' %}

                        <li class="filter__item {% if not section['collapsed'] %} is-show {% endif %}">
                            <a class="filter__title" href="javascript:void(0)">
                                {{ lang_price }}
                                <i class="filter__icon icon-arrow-r"></i>
                            </a>
                            <ul class="filter__subitem">
                                <li class="input">
                                    <label>От</label>
                                    <input type="number" name="bfp_price_min" value="{{ lowerlimit }}" placeholder="{{ lowerlimit }} {{ currency_symbol }}">
                                </li>
                                <li class="input">
                                    <label>До</label>
                                    <input type="number" name="bfp_price_max" value="{{ upperlimit }}" placeholder="{{ upperlimit }} {{ currency_symbol }}">
                                </li>
                            </ul>
                        </li>

                        {# Categories FILTER #}
                    {% elseif section['type'] == 'category' %}
                        {% set groupUID = 'c0' %}
                        <li class="filter__item bf-attr-{{ groupUID }} {% if not section['collapsed'] %} is-show {% endif %}">
                            <a class="filter__title" href="javascript:void(0)">{{ lang_categories }}<i class="filter__icon icon-arrow-r"></i></a>
                            <ul class="filter__subitem">
                                {% for cat in section['values'] %}

                                    {% set catId = cat['id'] %}
                                    {% if totals is defined and settings['behaviour']['hide_empty'] %}
                                        {% set inStock = postponedCount or (totals[groupUID][catId] is defined and totals[groupUID][catId]) %}
                                        {% set inSelected = selected[groupUID] is defined and catId in selected[groupUID] %}
                                        {% if not inStock and not inSelected %}
                                            bf-disabled
                                        {% endif %}
                                    {% endif %}

                                    {% if section['control'] == 'checkbox' %}
                                        <li class="checkbox">
                                            <input
                                                    type="checkbox"
                                                    name="bfp_{{ groupUID }}{% if section['control'] is same as ('checkbox') %}{{ '_' ~ catId }}{% endif %}"
                                                    id="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"
                                                    value="{{ catId }}"
                                                    {% if selected[groupUID] is defined and catId in selected[groupUID] %} checked="true" {% endif %} />

                                            <label for="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"><span>{{ cat['name'] }}</span></label>

                                        </li>
                                    {% else %}
                                        <li class="radio">
                                            <input
                                                    type="radio"
                                                    name="bfp_{{ groupUID }}{% if section['control'] is same as ('checkbox') %}{{ '_' ~ catId }}{% endif %}"
                                                    id="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"
                                                    value="{{ catId }}"
                                                    {% if selected[groupUID] is defined and catId in selected[groupUID] %} checked="true" {% endif %} />

                                            <label for="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"><span>{{ cat['name'] }}</span></label>

                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        {# OTHER FILTERS#}
                    {% else %}

                        {% set curGroupId = null %}

                        {% for groupId, group in section['array'] %}

                            {% set collapsedGroup = false %}

                            {% if group['attr_id'] and settings['behaviour']['sections']['attribute'][group['attr_id']] %}

                                {% set collapsedGroup = settings['behaviour']['sections']['attribute'][group['attr_id']]['collapsed'] %}

                            {% elseif group['option_id'] and settings['behaviour']['sections']['options'][group['option_id']] %}

                                {% set collapsedGroup = settings['behaviour']['sections']['options'][group['option_id']]['collapsed'] %}

                            {% elseif group['filter_id'] and settings['behaviour']['sections']['filter'][group['filter_id']] %}

                                {% set collapsedGroup = settings['behaviour']['sections']['filter'][group['filter_id']]['collapsed'] %}

                            {% endif %}


                            {% set groupUID = section['type']|slice(0, 1) ~ groupId %}

                            <li class="filter__item bf-attr-{{ groupUID }} {% if not section['collapsed'] %} is-show {% endif %}">
                                <a class="filter__title" href="javascript:void(0)">{{ group['name'] ~ ' ' }}<i class="filter__icon icon-arrow-r"></i></a>
                                <ul class="filter__subitem">
                                    {% for cat in group['values'] %}

                                        {% set catId  = cat['id'] %}

                                        {% if totals is defined and settings['behaviour']['hide_empty'] %}
                                            {% set inStock = postponedCount or (totals[groupUID][valueId] is defined and totals[groupUID][catId]) %}
                                            {% set inSelected = selected[groupUID] is defined and valueId in selected[groupUID] %}
                                            {% if not inStock and not inSelected %}
                                                bf-disabled
                                            {% endif %}
                                        {% endif %}

                                        {% if group['type'] == 'checkbox' %}
                                            <li class="checkbox">
                                                <input
                                                        type="checkbox"
                                                        name="bfp_{{ groupUID }}{% if section['control'] is same as ('checkbox') %}{{ '_' ~ catId }}{% endif %}"
                                                        id="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"
                                                        value="{{ catId }}"
                                                        {% if selected[groupUID] is defined and catId in selected[groupUID] %} checked="true" {% endif %} />

                                                <label for="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"><span>{{ cat['name'] }}</span></label>

                                            </li>
                                        {% else %}
                                            <li class="radio">
                                                <input
                                                        type="radio"
                                                        name="bfp_{{ groupUID }}{% if section['control'] is same as ('checkbox') %}{{ '_' ~ catId }}{% endif %}"
                                                        id="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"
                                                        value="{{ catId }}"
                                                        {% if selected[groupUID] is defined and catId in selected[groupUID] %} checked="true" {% endif %} />

                                                <label for="bf-attr-{{ groupUID ~ '_' ~ catId ~ '_' ~ layout_id }}"><span>{{ cat['name'] }}</span></label>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    {% endif %}

                {% endfor %}

                <li class="filter__action">
                    <a class="btn__default-outline btn__default-outline--filter filter__toggle"
                       href="javascript:void(0)"
                       onclick="BrainyFilter.reset()">
                        {{ reset }}
                    </a>
                    <a class="btn__primary btn__primary--filter filter__toggle" href="javascript:void(0)">Применить</a>
                </li>

                </form>
            </ul>
            <a class="filter__toggle-btn filter__toggle" href="javascript:void(0)">Фильтр</a>


<script>
var bfLang = {
    show_more : '{{ lang_show_more }}',
    show_less : '{{ lang_show_less }}',
    empty_list : '{{ lang_empty_list }}'
};
BrainyFilter.requestCount = BrainyFilter.requestCount || {{ settings['behaviour']['product_count'] ? 'true' : 'false' }};
BrainyFilter.requestPrice = BrainyFilter.requestPrice || {{ settings['behaviour']['sections']['price']['enabled'] ? 'true' : 'false' }};
BrainyFilter.separateCountRequest = BrainyFilter.separateCountRequest || {{ postponedCount ? 'true' : 'false' }};
BrainyFilter.min = BrainyFilter.min || {{ priceMin }};
BrainyFilter.max = BrainyFilter.max || {{ priceMax }};
BrainyFilter.lowerValue = BrainyFilter.lowerValue || {{ lowerlimit }};
BrainyFilter.higherValue = BrainyFilter.higherValue || {{ upperlimit }};
BrainyFilter.currencySymb = BrainyFilter.currencySymb || '{{ currency_symbol }}';
BrainyFilter.hideEmpty = BrainyFilter.hideEmpty || {{ settings['behaviour']['hide_empty']|number_format }};
BrainyFilter.baseUrl = BrainyFilter.baseUrl || "{{ base }}";
BrainyFilter.currentRoute = BrainyFilter.currentRoute || "{{ currentRoute }}";
BrainyFilter.selectors = BrainyFilter.selectors || {
    'container' : '{{ settings['behaviour']['containerSelector'] }}',
    'paginator' : '{{ settings['behaviour']['paginatorSelector'] }}'
};
{% if redirectToUrl %}
BrainyFilter.redirectTo = BrainyFilter.redirectTo || "{{ redirectToUrl }}";
{% endif %}
jQuery(function() {
    if (!BrainyFilter.isInitialized) {
        BrainyFilter.isInitialized = true;
        var def = jQuery.Deferred();
        def.then(function() {
            if('ontouchend' in document && jQuery.ui) {
                jQuery('head').append('<script src="catalog/view/javascript/jquery.ui.touch-punch.min.js"><\/script>');
            }
        });
        if (typeof jQuery.fn.slider === 'undefined') {
            jQuery.getScript('catalog/view/javascript/jquery-ui.slider.min.js', function(){
                def.resolve();
                jQuery('head').append('<link rel="stylesheet" href="catalog/view/theme/default/stylesheet/jquery-ui.slider.min.css" type="text/css" />');
                BrainyFilter.init();
            });
        } else {
            def.resolve();
            BrainyFilter.init();
        }
    }
});
BrainyFilter.sliderValues = BrainyFilter.sliderValues || {};
{% if filters|length %}
    {% for i, section in filters %}
        {% if section['array'] is defined and section['array']|length %}
            {% for groupId, group in section['array'] %}
                {% set groupUID = section['type']|slice(0, 1) ~ groupId %}
                {% if group['type'] in ['slider', 'slider_lbl', 'slider_lbl_inp'] %}
                    BrainyFilter.sliderValues['{{ groupUID }}'] = {{ group['values']|json_encode() }};
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
</script>
{% endif %}