<script>
	function text_complite(ev, keywords) {
		if (ev.keyCode == 38 || ev.keyCode == 40) {
			return false;
		}
		if (keywords == '' || keywords.length < 1 || keywords.length < {{ setting['max_symbols'] }} ) {
			return false;
		}

		$.ajax({
			url: $('base').attr('href') + 'index.php?route=extension/module/d_ajax_search/getAutocomplite&keyword=' + keywords,
			dataType: 'json',
			beforeSend: function () {
			},
			success: function (autocomplite) {
				$('#search-autocomplite').text('');
				$('#help').hide();
				if (typeof autocomplite != 'undefined' && autocomplite != null) {
					$("{{ setting['class'] }}").first().val().toLowerCase();
					if (autocomplite != '' && autocomplite.indexOf($("{{ setting['class'] }}").first().val()) !== -1) {
						$('#search-autocomplite').text(autocomplite.toLowerCase());
					}

					$("{{ setting['class'] }}").keydown(function (event) {
						if (event.keyCode == 39) {
							$("{{ setting['class'] }}").val(autocomplite);
							$('#search-autocomplite').text('');
						} else if (event.keyCode == 08){
							$('#search-autocomplite').text('');
						}
					});

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}

	function doquick_search(ev, keywords) {

		if (ev.keyCode == 38 || ev.keyCode == 40) {
			return false;
		}

        var search_status = document.querySelector('.search__status');
        var search_result = document.querySelector('.search__results');

		updown = -1;

		if (keywords == '' || keywords.length < 1 || keywords.length < {{ setting['max_symbols'] }} ) {
			return false;
		}
		keywords = encodeURI(keywords);

		$.ajax({
			url: $('base').attr('href') + 'index.php?route=extension/module/d_ajax_search/searchresults&keyword=' + keywords,
			dataType: 'json',
			beforeSend: function () {
                search_status.innerHTML = 'Загрузка...';
			},

			success: function (results) {

                search_result.innerHTML = '';

				var result = $.map(results, function (value, index) {
					return [value];
				});

				if (typeof result !== 'undefined' && result.length > 0) {

                    search_status.innerHTML = 'Результатов: '+result.length;

                    for (var item in result) {

                        if(result.hasOwnProperty(item)){
                            var product = result[item];
                        }else{
                            console.error('Продукт не найден');
                        }

                        var html_item = '<a class="search__item" href="' + product.href + '">';
                        html_item += '<img class="search__img"   src="' + product.image + '">';
                        html_item += '<span class="search__title">' + product.name + '</span>';
                        html_item += '<span class="search__price">' + product.price + '</span>';
                        html_item += '</a>';

                        search_result.innerHTML += html_item;
                    }

				} else {
                    search_status.innerHTML = 'Нет результатов ;(';
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				console.log('error');
			}
		});
		return true;
	}

	var delay = (function () {
		var timer = 0;
		return function (callback, ms) {
			clearTimeout(timer);
			timer = setTimeout(callback, ms);
		};
	})();


	$(document).ready(function () {

		$(document).on('blur', '{{ setting['class'] }}', function (event) {
			setTimeout(function () {
				$('body').click(function (event) {
					if ($(event.target).attr('class') != 'all_results hidden') {
						$('#d_ajax_search_results').remove();
					}
				});
				$('#help').show();
				if ({{ setting['block_result'] }}) {
					updown = 1;
				} else {
					updown = 0;
				}
			}, 500);
		});

		$(document).on('keyup', '{{ setting['class'] }}', function (ev) {
			var a = ev;
			var b = this.value;
			text_complite(a, b);
			delay(function () {
				doquick_search(a, b);
			}, 500);
		});

		$(document).on('focus', '{{ setting['class'] }}', function (ev) {
			var a = ev;
			var b = this.value;
			text_complite(a, b);
			delay(function () {
				doquick_search(a, b);
			}, 500);
		});
	});
</script>