
<footer class="footer">
    <div class="footer__wrap">
        <ul class="footer__menu">
            {% if  email_list|length > 0%}
                {% for email in email_list %}
                    <li class="footer__item">
                        <a class="footer__link" href="mailto:{{ email }}">
                            <i class="icon-mail"></i>
                            <span>{{ email }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if  telephone_list|length > 0%}
                {% for phone in telephone_list %}
                    <li class="footer__item">
                        <a class="footer__link" href="tel:{{ phone }}">
                            <i class="icon-phone-1"></i>
                            <span>{{ phone }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        {% if informations %}
            <ul class="footer__menu">
                {% for information in informations %}
                    <li class="footer__item">
                        <a class="footer__link" href="{{ information.href }}">{{ information.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul class="footer__menu">
            <li class="footer__item"><a class="footer__link" href="{{ contact }}">{{ text_contact }}</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>

        <ul class="footer__menu">
            <li class="footer__item"><a class="footer__link" href="{{ special }}">{{ text_special }}</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
        </ul>


    </div>
</footer>
</div>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>
</html>
