<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>

    {% if robots %}
        <meta name="robots" content="{{ robots }}"/>
    {% endif %}
    <base href="{{ base }}"/>
    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ og_url }}"/>
    {% if og_image %}
        <meta property="og:image" content="{{ og_image }}"/>
    {% else %}
        <meta property="og:image" content="{{ logo }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ name }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}

    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
    <link href="catalog/view/theme/default/stylesheet/common.css" rel="stylesheet">
    {% block link %}

    {% endblock %}
    <script src="catalog/view/theme/default/js/common.bundle.js" type="text/javascript"></script>

    {% block scripts %}

    {% endblock %}

</head>
<body>
<div onclick="void(0)">

    <div class="dialog dialog--basket" id="dialog">
        <div class="dialog__content">
            <div class="basket"></div>
        </div>
    </div>

    <header class="header">
        <div class="header__logo"><a href="/"><img src="catalog/view/theme/default/images/logo.svg"></a></div>
        <div class="header__nav">
            <div class="header__search"><a href="javascript:void(0)"><i class="icon-search search__toggle"></i></a>
                <div class="search">
                    <div class="search__input">
                        <input placeholder="Поиск" name="live_search"><i class="icon-search"></i>
                    </div>
                    <div class="search__list">
                        <div class="search__status">Что ищите ?</div>
                        <div class="search__results">

                        </div>
                    </div>
                </div>
            </div>
            {% if  telephone_list|length > 0 %}
                <div class="header__contacts contact-dropdown">
                    <a href="javascript:void(0)">
                        <i class="icon-phone-1 contact-dropdown__phone-icon"></i>
                        <span class="contact-dropdown__title contact-dropdown__title--first">{{ telephone_list[0] }}</span>
                        <i class="icon-arrow-b contact-dropdown__arrow-icon"></i></a>
                    <div class="contact-dropdown__list">
                        <div class="contact-dropdown__header">Контакты</div>

                        {% for phone in telephone_list %}
                            <a class="contact-dropdown__item" href="tel:{{ phone }}">
                                <i class="icon-phone-1 contact-dropdown__icon"></i>
                                <span class="contact-dropdown__title">{{ phone }}</span>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

            <div class="header__bucket" data-toggle="dialog" data-target="#dialog" onclick="getOCwizardModal_smca(false,'load')">

                <i class="icon-bucket header__bucket-icon">
                    <span class="header__bucket-badge">1</span>
                </i>
                <span class="header__bucket-title">Корзина</span>
            </div>
            <a class="header__toggler" href="javascript:void(0)"><i class="icon-menu header__toggler-icon"></i></a>
        </div>
    </header>

    {{ menu }}


