{{ header }}

{% block link %}
    <link href="catalog/view/theme/default/stylesheet/index.css" rel="stylesheet">
{% endblock  %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/index.bundle.js" type="text/javascript"></script>
{% endblock  %}

<main class="home">
    {{ content_top }}
    {{ content_bottom }}
</main>

{{ footer }}