{% if categories %}
    <ul class="category">
        {% for category in categories %}

            {% if category.children %}
                <li>
                    <a class="category__item" href="{{ category.href }}">{{ category.name }}</a>
                    <ul class="subcategory">


                        {% for child in category.children %}
                            <li class="subcategory__item"><a class="subcategory__link" href="{{ child.href }}">{{ child.name }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
            {% else %}
                <li><a class="category__item" href="{{ category.href }}">{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="category__bg-mobile"></div>
{% endif %}
