{{ header }}

{% block link %}
  <link href="catalog/view/theme/default/stylesheet/order_confirmed.css" rel="stylesheet">
{% endblock  %}
{% block scripts %}
  <script src="catalog/view/theme/default/js/order_confirmed.bundle.js" type="text/javascript"></script>
{% endblock  %}

<main class="order_confirmed">
  <div class="order_confirmed__wrap">
    <h1 class="order_confirmed__title">{{ heading_title }}</h1>
    <div class="order_confirmed__animation">
      <div class="check_mark">
        <div class="sa-icon sa-success animate"><span class="sa-line sa-tip animateSuccessTip"></span>
          <span class="sa-line sa-long animateSuccessLong"></span>
          <div class="sa-placeholder"></div>
          <div class="sa-fix"></div>
        </div>
      </div>
    </div>
    <div class="order_confirmed__desc">{{ text_message }}</div>
    <div class="order_confirmed__action"><a class="btn__primary" href="{{ continue }}">{{ button_continue }}</a></div>
  </div>
</main>
{{ footer }}