{{ header }}
{% block link %}
    <link href="catalog/view/theme/default/stylesheet/edit_order.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/edit_order.bundle.js" type="text/javascript"></script>
{% endblock %}

<main class="edit_order">
    <div class="edit_order__wrap">
        <div class="basket">


            <div class="basket__title"> {{ heading_title }}</div>

            {% if products %}
                <div class="basket__info">
                    <div class="basket__name">Товар</div>
                    <div class="basket__count">Кол-во</div>
                    <div class="basket__price">Цена</div>
                </div>
                <div class="basket__products basket-product">
                    {% for product in products %}
                        <div class="basket-product__item">
                            <input name="product_key" value="{{ product.key }}" type="hidden"/>
                            <input name="product_id" value="{{ product.product_id }}" type="hidden"/>

                            <div class="basket-product__wrap">
                                <a class="basket-product__remove icon-remove" onclick="update_cart(this, 'remove')"></a>
                                {% if product.thumb %}
                                    <img class="basket-product__image" src="{{ product.thumb }}"
                                         alt="{{ product.name }}"
                                         title="{{ product.name }}">
                                {% endif %}

                                <span class="basket-product__details">
                            <span class="basket-product__title">{{ product.name }}</span>
                            <span class="basket-product__art">{{ product.stock_text }}</span>
                        </span>
                                <span class="basket-product__count">
                        <a class="icon-minus basket-product__icon" href="javascript:void(0)"
                           onclick="$(this).next().text(~~$(this).next().text()-1); update_cart(this, 'update')"></a>
                        <span type="text" class="basket-product__in">{{ product.quantity }}</span>
                        <a class="icon-plus basket-product__icon" href="javascript:void(0)"
                           onclick="$(this).prev().text(~~$(this).prev().text()+1); update_cart(this, 'update')"></a>
                    </span>
                                <span class="basket-product__price">{{ product.price }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="basket__total">
                    <div class="basket__total-title">{{ text_total_bottom }}</div>
                    <div class="basket__total-sum">{{ total }}</div>
                </div>
                <div class="basket__action">
                    <a class="btn__default-outline" href="javascript:void(0)" onclick="update_cart(this, 'remove_all')">Очистить</a>
                    <a class="btn__primary" href="/zakaz">Заказать</a>
                </div>
            {% else %}
                <div class="basket__empty">{{ text_empty }}</div>
            {% endif %}

        </div>
    </div>
</main>


{{ footer }} 