{{ header }}
{% block link %}
    <link href="catalog/view/theme/default/stylesheet/manufacturer.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/manufacturer.bundle.js" type="text/javascript"></script>
{% endblock %}
<main class="manufacturer">
    <div class="manufacturer__wrap">
        <h1 class="manufacturer__title">{{ heading_title }}</h1>
        <ul class="manufacturer__letter_nav">
            <li>{{ text_index }}</li>
            {% for category in categories %}
                <li><a href="index.php?route=product/manufacturer#{{ category.name }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="manufacturer__item">
        {% for category in categories %}
            <li><span id="{{ category.name }}">{{ category.name }}</span>
            {% if category.manufacturer %}
                {% for manufacturers in category.manufacturer|batch(4) %}
                <ul>
                        {% for manufacturer in manufacturers %}
                            <li><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></li>
                        {% endfor %}

                </ul>
                {% endfor %}
            {% endif %}
            </li>
        {% endfor %}
        </ul>

    </div>

    <div class="manufacturer__breadcrumb">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb__item"><a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>

{{ footer }}