{{ header }}
{% block link %}
    <link href="catalog/view/theme/default/stylesheet/product.css" rel="stylesheet">
{% endblock  %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/product.bundle.js" type="text/javascript"></script>
{% endblock  %}


<main class="product">
    <section class="product__wrap">
        <div class="product__header">
            <div class="product__header-wrap">
                <div class="product__header-align">
                    <div class="product__images">
                        <ul class="slider">
                            {% if images %}
                                {% for image in images %}
                                    <li class="slider__item">
                                        <img src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <a class="product__back-link" href="{{ cat_href }}"><i class="icon-arrow-l"></i><span>{{ cat_name }}</span></a>
                    <div class="product__title">
                        <h1 class="product__name">{{ heading_title }}</h1>
                        <div class="product__price">{{ price }}</div>
                    </div>
                    <div class="product__min-desc">{{ description }}</div>
                    <ul class="product__basic-opts basic-opts">
                        {% if manufacturer %}
                            <li class="basic-opts__item">
                                <div class="basic-opts__name">{{ text_manufacturer }}</div>
                                <div class="basic-opts__value">{{ manufacturer }}</div>
                            </li>
                        {% endif %}



                        {% set break = true %}
                        {% set i = 0 %}

                        {% for attribute_group in attribute_groups  %}
                            {% for attribute in attribute_group.attribute if  break %}
                                <li class="basic-opts__item">
                                    <div class="basic-opts__name">{{ attribute.name }}</div>
                                    <div class="basic-opts__value">{{ attribute.text }}</div>
                                </li>

                                {% set i = i+1 %}

                                {% if i >= 4 %}
                                    {% set break = false %}
                                {% endif %}

                            {% endfor %}
                        {% endfor %}

                    </ul>
                    {% if products|length > 0 %}
                    <ul class="product__optional optional-prods">
                        <li class="optional-prods__item-title">Дополнительное оборудование:</li>
                        {% for product in products %}
                            <li>
                                <input class="optional-prods__checkbox" type="checkbox" id="c-{{ product.product_id }}" value="{{ product.product_id }}">
                                <label class="optional-prods__item" for="c-{{ product.product_id }}">
                                    <img class="optional-prods__image" src="{{ product.thumb }}">
                                    <span class="optional-prods__link">{{ product.name }}</span>
                                    <span class="optional-prods__price">{{ product.price }}</span>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <a class="product__order btn btn__primary-order" href="javascript:void(0)" onclick="getOCwizardModal_smca({{ product_id }},'add')">
                        <i class="icon-bucket-2"></i><span>add to cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="product__nav prod-nav">
            {% if prev_link != '' %}
            <a class="prod-nav__item" href="{{ prev_link }}">
                <i class="icon-arrow-l"></i>
                <span>назад</span>
            </a>
            {% else %}
                <span></span>
            {% endif %}

            <a class="prod-nav__item" href="{{ cat_href }}"><i class="icon-catalog"></i><span>вернуться в каталог</span></a>

            {% if next_link != '' %}
                 <a class="prod-nav__item" href="{{ next_link }}"><span>далее</span><i class="icon-arrow-r"></i></a>
             {% else %}
                <span></span>
            {% endif %}
        </div>
        <h2 class="product__subtitle">Все характеристики</h2>
        <ul class="product__full-opts full-opts">

            {% for attribute_group in attribute_groups%}
                {% for attribute in attribute_group.attribute %}

                    <li class="full-opts__item">
                        <div class="full-opts__name">{{ attribute.name }}</div>
                        <div class="full-opts__value">{{ attribute.text }}</div>
                    </li>

                {% endfor %}
            {% endfor %}

            <li class="full-opts__item">
                <div class="full-opts__name">{{ text_size }}</div>
                <div class="full-opts__value">{{ size }}</div>
            </li>

            {% if weight %}
                <li class="full-opts__item">
                    <div class="full-opts__name">{{ text_weight }}</div>
                    <div class="full-opts__value">{{ weight }}</div>
                </li>
            {% endif %}
        </ul>
        <div class="product__max-desc">{{ full_description }}</div>
    </section>

    {{ content_bottom }}

    <section class="product__breadcrumb">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb__item"><a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </section>
</main>


<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {

    //products id


	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>


{{ footer }} 
