{{ header }}
{% block link %}
    <link href="catalog/view/theme/default/stylesheet/products.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/products.bundle.js" type="text/javascript"></script>
    <script src="catalog/view/javascript/brainyfilter.js" type="text/javascript"></script>
{% endblock %}

<main class="products">
    <section class="products__wrap">
        <div class="products__filter-block">
            {{ column_left }}
        </div>
        <div class="products__products-block">
            <div class="products__description-block cat_description">
                <h1 class="cat_description__title">{{ heading_title }}</h1>
            </div>
            <div class="products__sort-block sort">

                <div class="sort__title">{{ text_sort }}</div>

                {% if sorts[0].value == '%s-%s'|format(sort, order) %}
                    <a class="sort__item sort__item--active" href="{{ sorts[0].href }}">
                        <span>{{ sorts[0].text }}</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% else %}
                    <a class="sort__item" href="{{ sorts[0].href }}">
                        <span>{{ sorts[0].text }}</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% endif %}

                {% if sorts[1].value == '%s-%s'|format(sort, order) %}
                    <a class="sort__item sort__item--desc" href="{{ sorts[2].href }}">
                        <span>Имя</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% elseif sorts[2].value == '%s-%s'|format(sort, order) %}
                    <a class="sort__item sort__item--asc" href="{{ sorts[1].href }}">
                        <span>Имя</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% else %}
                    <a class="sort__item" href="{{ sorts[1].href }}">
                        <span>Имя</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% endif %}


                {% if sorts[3].value == '%s-%s'|format(sort, order) %}
                    <a class="sort__item sort__item--desc" href="{{ sorts[4].href }}">
                        <span>Цена</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% elseif sorts[4].value == '%s-%s'|format(sort, order) %}
                    <a class="sort__item sort__item--asc" href="{{ sorts[3].href }}">
                        <span>Цена</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% else %}
                    <a class="sort__item" href="{{ sorts[3].href }}">
                        <span>Цена</span>
                        <i class="icon-arrow-b"></i>
                    </a>
                {% endif %}

            </div>
            <a class="sort__toggle" href="javascript:void(0)">{{ text_sort }}</a>
            <div class="products__list product">
                {% for product in products %}
                    <div class="product__item">
                        <a class="product__wrap" href="{{ product.href }}">
                            <img class="product__image" src="{{ product.thumb }}" alt="{{ product.name }}">
                            <div class="product__group">
                                <div class="product__title">{{ product.name }}</div>
                                <div class="product__desc">{{ product.description }}</div>
                                <div class="product__details">
                                    <div class="product__price">{{ product.price }}</div>

                                    {% for tag in product.tags %}
                                        <div class="product__label product__label--new">{{ tag.tag }}</div>
                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}

                {% if not products %}
                    <p class="products__empty">{{ text_empty }}</p>
                {% endif %}
            </div>
            <div class="products__pagination_wrap">
                {{ pagination }}
            </div>

            <ul class="products__breadcrumb-block breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb__item">
                        <a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</main>

{{ footer }}
