{{ header }}

{% block link %}
    <link href="catalog/view/theme/default/stylesheet/contacts.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/contacts.bundle.js" type="text/javascript"></script>
{% endblock %}

<main class="contacts">
    <div class="contacts__wrap">
        <h1 class="contacts__title">{{ heading_title }}</h1>
        <h2 class="contacts__subtitle">Вопросы, замечания, комментарии?</h2>
        <div class="contacts__group">
            <ul class="contacts__list">
                {% for email in emails %}
                    <li class="contacts__item"><a class="contacts__link" href="mailto:{{ email }}"><i
                                    class="icon-email-c"></i><span>{{ email }}</span></a></li>
                {% endfor %}
                {% for phone in telephones %}
                    <li class="contacts__item"><a class="contacts__link" href="tel:{{ phone }}"><i
                                    class="icon-phone-c"></i><span>{{ phone }}</span></a></li>
                {% endfor %}
            </ul>
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="contacts__form">
                <div class="input__group">
                    <div class="input {% if error_name %} has-error {% endif %}">
                        <input type="text" required="required" id="name" value="{{ name }}" name="name">
                        <label for="name">{{ entry_name }}</label>
                        {% if error_name %}
                            <small>{{ error_name }}</small>
                        {% endif %}
                    </div>
                    <div class="input {% if error_email %} has-error {% endif %}">
                        <input type="text" required="required" id="email" value="{{ email }}" name="email">
                        <label for="email">{{ entry_email }}</label>
                        {% if error_email %}
                            <small>{{ error_email }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="textarea__group">
                    <div class="textarea {% if error_enquiry %} has-error {% endif %}">
                        <textarea name="enquiry"required="required" id="enquiry">{{ enquiry }}</textarea>
                        <label for="enquiry">{{ entry_enquiry }}</label>
                        {% if error_enquiry %}
                            <small>{{ error_enquiry }}</small>
                        {% endif %}
                    </div>
                </div>
                <div class="contacts__action">
                    {{ captcha }}
                    <button class="btn btn__dark">{{ button_submit }}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="contacts__breadcrumb">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb__item">
                    <a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</main>

{{ footer }}
