{{ header }}

{% block link %}
  <link href="catalog/view/theme/default/stylesheet/information.css" rel="stylesheet">
{% endblock  %}
{% block scripts %}
  <script src="catalog/view/theme/default/js/information.bundle.js" type="text/javascript"></script>
{% endblock  %}

<main class="information">
  <div class="information__wrap">
    <h1 class="information__title">{{ heading_title }}</h1>
    <p class="information__desc">{{ description }}</p>
  </div>
  <div class="information__breadcrumb-block">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb__item">
            <a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a>
          </li>
        {% endfor %}
    </ul>
  </div>
</main>
{{ footer }}