{{ header }}

{% block link %}
    <link href="catalog/view/theme/default/stylesheet/site_map.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="catalog/view/theme/default/js/site_map.bundle.js" type="text/javascript"></script>
{% endblock %}

<main class="site_map">
    <div class="site_map__wrap">
        <h1 class="site_map__title">{{ heading_title }}</h1>
        <div class="site_map__col">

            <ul class="site_map__list">
                {% for category_1 in categories %}
                    <li><a href="{{ category_1.href }}">{{ category_1.name }}</a>
                        {% if category_1.children %}
                            <ul class="site_map__list">
                                {% for category_2 in category_1.children %}
                                    <li><a href="{{ category_2.href }}">{{ category_2.name }}</a>
                                        {% if category_2.children %}
                                            <ul>
                                                {% for category_3 in category_2.children %}
                                                    <li><a href="{{ category_3.href }}">{{ category_3.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="site_map__col">
            <ul class="site_map__list">
                {% for information in informations %}
                    <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}
                <li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
                <li><a href="{{ special }}">{{ text_special }}</a></li>
                <li><a href="{{ contact }}">{{ text_contact }}</a></li>

            </ul>
        </div>
    </div>
    <div class="site_map__breadcrumb">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb__item"><a href="{{ breadcrumb.href }}" class="breadcrumb__link">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
{{ footer }}