{% if products or vouchers %}
	<div class="product__header">
		<div class="product__header-title">ВАШ ЗАКАЗ</div>
		<div class="product__header-edit"><a class="product__edit-link" data-toggle="dialog" data-target="#dialog" onclick="getOCwizardModal_smca(false,'load')">Изменить</a></div>
	</div>
	<div class="product__list">
        {% for product in products %}
			<a class="product__item {% if not product.stock %}error-stock {% endif %}" href="{{ product.href }}">
				<img class="product__image" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}">
				<div class="product__group">
					<div class="product__title">{{ product.name }}</div>
					<div class="product__details">
						<div class="product__count">{{ product.quantity }}шт.</div>
						<div class="product__price">{{ product.total }}</div>
					</div>
				</div>
			</a>
        {% endfor %}
	</div>

	<div class="product__estimation">
        {% for total in totals %}
			<div class="product__estimation{{ total.class }}">
				<div>{{ total.title }}:</div>
				<div>{{ total.text }}</div>
			</div>
        {% endfor %}
	</div>
{% endif %}