<div id="payment" class="text-left" style="display:none;"></div>


<div class="checkbox contact__accept">
  <input type="checkbox" name="agree"  value="1" id="agree_checkbox">
  <label for="agree_checkbox">{{ text_agree }}</label>
</div>
<a id="button-payment-method" class="btn__primary" href="javascript:void(0)">{{ button_continue }}</a>
