{{ header }}

{% block link %}
  <link href="catalog/view/theme/default/stylesheet/404.css" rel="stylesheet">
{% endblock  %}
{% block scripts %}
  <script src="catalog/view/theme/default/js/404.bundle.js" type="text/javascript"></script>
{% endblock  %}

<main class="err_404">
  <h1 class="err_404__title">{{ heading_title }}</h1>
  <h2 class="err_404__subtitle">Вы можете найти еще много интересного у нас на сайте</h2><img class="err_404__bg" src="catalog/view/theme/default/images/bg.svg">
  <a class="btn__default" href="{{ continue }}">{{ button_continue }}</a>
</main>

{{ footer }}
