<footer class="footer">
    <div class="footer__wrap">
        <ul class="footer__menu">
            {% if  email_list|length > 0%}
                {% for email in email_list %}
                    <li class="footer__item">
                        <a class="footer__link" href="mailto:{{ email }}">
                            <i class="icon-mail"></i>
                            <span>{{ email }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if  telephone_list|length > 0%}
                {% for phone in telephone_list %}
                    <li class="footer__item">
                        <a class="footer__link" href="tel:{{ phone }}">
                            <i class="icon-phone-1"></i>
                            <span>{{ phone }}</span>
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        {% if informations %}
            <ul class="footer__menu">
                {% for information in informations %}
                    <li class="footer__item">
                        <a class="footer__link" href="{{ information.href }}">{{ information.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul class="footer__menu">
            <li class="footer__item"><a class="footer__link" href="{{ contact }}">{{ text_contact }}</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>

        <ul class="footer__menu">
            <li class="footer__item"><a class="footer__link" href="{{ special }}">{{ text_special }}</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
        </ul>





    </div>
</footer>
</div>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

        <script type="text/javascript">


          function getOCwizardModal_smca(product_id, action) {
            var basket = document.querySelector('.basket');
            quantity = typeof(quantity) != 'undefined' ? quantity : 1;

              var all_keys = [product_id];

              $('.optional-prods__checkbox:checked').each(function (key, val) {
                  all_keys.push(val.value);
              });

              if(!all_keys.length) return false;

              var prod_ids = all_keys.join(";");

            if (action == "add") {
              $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: 'product_id=' + prod_ids + '&quantity=' + quantity,
                dataType: 'json',
                success: function(json) {
                  if (json['redirect']) {
                    location = json['redirect'];
                  }
                  if (json['success']) {
                    buttonManipulate();
                    $('#dialog').addClass('is-show');
                    getOCwizardModal_smca(product_id, 'load');
                  }
                }
              });
            }

            if (action == "load" || action == "load_option") {

                $.ajax({
                    url: 'index.php?route=extension/module/ocdev_smart_cart',
                    type: 'get',
                    success: function(html) {
                        console.log('Корзина загружена')
                        basket.innerHTML = html;
                    }
                });

            }
          }
        </script>
      
</body>
</html>
